<h1>Let's edit <%= @task.title %></h1>
<%= render "form", task: @task %>

<!--
<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit %>
<% end %>
-->

